# env
NODE_ENV=development
PORT=4000

# DB
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

#auth
JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="your-refresh-secret"
JWT_REFRESH_EXPIRES_IN="7d"

# CORS - the frontend's origin
CORS_ORIGIN="http://localhost:3000"

# Razorpay
RAZOR_KEY_ID="your-razorpay-key-id"
RAZOR_SECRET_KEY="your-razorpay-secret-key"

//TEST PAYMENT RAZOR
RAZOR_KEY_ID="key_id"
RAZOR_SECRET_KEY="secret_key"